.nav
  .nav-left
    .name-space
      %p Coolhouse Labs
    .contact
      %p
        277 E Main St.
        %br
        Harbor Springs, MI 
      %p 
        435-659-1294
      %p
        info@coolhouselabs.com 
      %ul.social-media-list.clearfix
        %li
          %a(href="#")
            =image_tag "twitter_icon.svg"
        %li
          %a(href="#")
            =image_tag "instagram_icon.svg"
        %li
          %a(href="#")
            =image_tag "facebook_icon.svg"

  .nav-right
    %a(href="/home")
      .nav-right-link.program-link 
        %p Program
    %a(href="/blog")
      .nav-right-link.blog-link 
        %p Blog
    %a(href="/team")
      .nav-right-link.team-link 
        %p Team
    %a(href="/sponsors")
      .nav-right-link.connect-link 
        %p Sponsors

.footer
  %small &copy; Coolhouse Labs, LLC. Proudly built in Harbor Springs, MI.