.nav
  .nav-left
    .name-space
      %p Coolhouse Labs
    .contact
      %p
        277 E Main St.
        Harbor Springs, MI 
      %p 
        XXX-XXX-XXXX
        info@coolhouselabs.com 
      %ul.social-media-list.clearfix
        %li
          %a(href="#")
            =image_tag "twitter_icon.svg"
        %li
          %a(href="#")
            =image_tag "instagram_icon.svg"
        %li
          %a(href="#")
            =image_tag "facebook_icon.svg"

  .nav-right
    .nav-right-link.program-link 
      %p Program
    .nav-right-link.blog-link 
      %p Blog
    .nav-right-link.team-link 
      %p Team
    .nav-right-link.connect-link 
      %p Connect

.footer
  %small (C) Coolhouse Labs, LLC. Proudly built in Harbor Springs, MI.