.hero
  .hero-copy-container
    .hero-copy
      %h1 SMALL TOWNS
      %h1 BIG IDEAS
      %hr
      %p.tagline A startup accelerator on the shores of Lake Michigan.
.program
  .home-column-left
    .home-heading
      %p Our Program
  .home-column-right
    .home-copy
      %h2.program-copy-header Small towns typically aren't seen as launchpads for tech startups.
      %p But with a bit of creativity, "Silicon Valley" tech and midwestern ingenuity, we are bringing big ideas to small towns.
      %p Founded in a resort community on the shores of Lake Michigan, we like to describe ourselves as a summer camp for startups, only with fewer bug bites. Each summer we'll invite 5-10 tech startups to be part of mentorship-driven accelerator program.
      %p Work out of our space, connect with our worldclass mentors, and build awesome products that solve real problems for small businesses. Our goal is to bring together talented and cretive people to create an environment where big ideas can come to life.

.cohort
  .home-column-left
    .home-heading
      %p Cohort #1
  .home-column-right
    .home-copy
      %h2.cohort-copy-header We're off and running in Harbor Springs for the summer of 2013. Check out our cohort.
      %ul.cohort-list
        %li 
          %a(href="http://www.everylastmorsel.com") EVERY LAST MORSEL
        %li 
          %a(href="http://www.lorious.com") LORIOUS
        %li 
          %a(href="http://www.novitimes.com") NOVI
        %li 
          %a(href="http://www.projecttravel.com") PROJECT TRAVEL
        %li
          %a(href="http://www.trnk-newyork.com") TRNK NEW YORK

.culture
  .home-column-left
    .home-heading
      %p Culture
  .home-column-right
    .home-copy
      %p At Coolhouse Labs we're focused on culture. Follow along as we push our cohort to the next level this summer.
.home-image-carousel
  = image_tag "orientation.jpg"
.demo-day
  .home-column-left
    .home-heading
      %p Coolhouse Labs Demo Day
  .home-column-right
    .home-copy
      %h3 Thursday, August 22nd at 9am
      %p Coolhouse Labs, 277 E. Main St., Harbor Springs, MI
      %p Demo-day is the culmination of our 10 weeks of hard work. See the culmination of a summer spent developing business strategies, coding up product and receiving world-class mentorship.
      %p This demo-day presentation is by invite-only. Later in the day there will be an event open to the public.

.location
  = image_tag "map.jpg"

= render 'footer'
