.team-container
  .team
    %p.teamheading MEET THE TEAM
    %ul.team-list.clearfix
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Jordan Breighner
          %p.team-member-title Managing Director + Founder
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Molly Ganley
          %p.team-member-title Proram Director
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Roneesh Vashisht
          %p.team-member-title Developer in Residence
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Jake Welchert
          %p.team-member-title Designer in Residence

  .fellows
    %p.teamheading 2013 FELLOWS
    %ul.fellows-list.clearfix
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")

.advisory-board.clearfix
  .team-column-left
    .advisory-board-heading
      %p Advisory Board
  .team-column-right
    .advisory-board-copy
      %ul.advisor-list
        %li.clearfix
          %p.advisor-name Rob Mossburg - Founder
          %p.advisor-title The Cottage Company of Harbor Springs
          .biopic 
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/rob_mossburg.png")
            .biopic-copy  
              %p Rob is an entrepreneuer with 30 years experience iwth start up and high growh organizations. His background includes founding, branding, growing and monetizing small to medium size companies in the lodging, real estate, finance and management consulting fields. After the sale of his last company in 2000, his family moved to downtown Harbor Springs where he is living his latest dream through the sustainable work of The Cottage Company, a well-respected real estate, construction and interior design firm.
        %li.clearfix
          %p.advisor-name Ron Grant - Founder
          %p.advisor-title Managing Partner Saddle River Group
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/ron_grant.jpeg")
            .biopic-copy
              %p Ron Grant and Russell Stevens are the lead partners at the Saddle River group, a consulting and investment firm with clients ranging from an NYC based venture fund to a major e-commerce provider. Previously Ron served as the president and COO of AOL, focused on repositioning and restructuring the company for acquisition or spin off.
        %li.clearfix
          %p.advisor-name Russell Stevens
          %p.advisor-title Partner Saddle River Group
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/russell_stevens.jpeg")
            .biopic-copy
              %p Prior to launching the Saddle River Group, Russell was a partner at the SS+K, guiding the company’s consulting group and business development operations. In his fifteen years at SS+K, Russell provided strategic and marketing counsel for brands and non-profit clients alike, including the Lance Armstrong Foundation, Citibank, the U.S. Department of Education, AOL, msnbc.com, and Microsoft.
        %li.clearfix
          %p.advisor-name Lenny Stern
          %p.advisor-title Partner at SS+K
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/lenny_stern.png")
            .biopic-copy
              %p Lenny Stern is one of the three founding partners of SS+K, a creative agency specializing in social media and engagement. He has more than twenty years of business experience creating across-the-board communications solutions, advising clients through times of dramatic change and developing strategies to inject brands into American pop-culture. He has worked in highly competitive categories including technology, media, transportation and hospitality for clients like Delta Air Lines, Citibank, Coca Cola, Harley Davidson, Obama for America media team, Allstate, GM, Honest Tea, Time Warner, and The Lance Armstrong Foundation.
        %li.clearfix
          %p.advisor-name Peter Slutsky
          %p.advisor-title Director of Platform Services at Automattic/Wordpress.com VIP
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/peter_slutsky.png")
            .biopic-copy
              %p Peter has worked at the crossroads of politics and technology for nearly a decade. He has worked in and around tech startups including Ning, Causes, Mightybell, and now serves as the Director of Platform Services for Automattic, powering over 60 million websites worldwide.
        %li.clearfix
          %p.advisor-name Jacob Hodesh
          %p.advisor-title Director of Mentorship Cintrifuse
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/jacob_hodesh.jpeg")
            .biopic-copy
              %p Jake is a startup community builder and entrepreneur. He spent parts of the last 6 years working to build the Savannah creative and startup community, and has recently moved home to Cincinnati to serve as the Director of Mentorship at Cintrifuse.
        %li.clearfix
          %p.advisor-name Ethan Goodman
          %p.advisor-title Managing Director Griffon VC
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/ethan_goodman.jpeg")
            .biopic-copy
              %p Ethan is Managing Director at Griffon Ventures, that lives at the intersection of venture capital and marketing and focuses on early stage tech companies. Ethan is a nationally-renowned marketing strategist - having worked on Digital Strategy at Leo Burnett/Arc Worldwide as well as at Mars Advertising. Ethan is a proud UofM alum and currently lives in Chicago.
        %li.clearfix
          %p.advisor-name Chris Marks
          %p.advisor-title Partner Tango
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/chris_marks.jpeg")
            .biopic-copy
              %p Chris is a Partner with the private investment company Tango, which invests primarily in private high growth companies in the technology sector. He is also a Principal at High Country Venture, LLC (HCV). HCV is the General Partner of Colorado Fund I and Colorado Fund II, venture capital funds that invest in early stage companies based in Colorado. Prior to joining Tango, Chris was a corporate attorney with the law firm of Hogan & Hartson, where he was a founding member of the private equity practice group. He serves on several Boards, including Lijit Networks, Inc., Victors & Spoils, Inc., and Global Education Fund. Chris received his BA from The Colorado College and his JD from University of Colorado Law School.
        %li.clearfix
          %p.advisor-name Sam Teller
          %p.advisor-title  Managing Director at Launchpad LA
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/sam_teller.jpeg")
            .biopic-copy
              %p Sam joined Launchpad LA - a nationally ranked accelerator program - from Charlie, a Los Angeles-based media company and interactive agency he co-founded in 2010. At Charlie, he led new media strategy for top entertainment, corporate, and political clients, including Samuel L. Jackson, Tumblr, Rachel Zoe, and Dick Clark Productions, while launching new media brands (FabFitFun) and making angel investments (Art.sy, Zoe Media Group, LearnBoost). Before Charlie, Sam was a member of Barack Obama’s presidential campaign and inaugural new media team, managing Facebook and AdWords marketing and producing innovative digital campaigns on Hulu, Pandora, and in Xbox Live video games.
        %li.clearfix
          %p.advisor-name Carter Williams
          %p.advisor-title  Senior Managing Director Progress Partners
          .biopic
            .biopic-image
              %img(src="https://s3.amazonaws.com/coolhouse-images/advisory_board/carter_williams.jpeg")
            .biopic-copy
              %p Carter is an active private investor and advisor to several early stage companies. Prior to Progress Partners, he was President of Gridlogix until it was it successfully sold to Johnson Controls in October 2008. Gridlogix software helped large enterprises reduce energy usage by 20%. Carter is the past president and founder of the MIT Corporate Venturing Consortium and Co-founder of the MIT Entrepreneurship Society. He serves on the boards of Procelerate, Viamorph, and First Choice Courier. Carter is also on the board of advisors at Anzode. HE has an MBA from the MIT Sloan School and a Bachelors of Science from Rensselear Polytechnic Institute.


.additional-mentors.clearfix
  .team-column-left
    .additional-mentors-heading
      %p Additional Mentors
  .team-column-right
    .additional-mentors-copy
      %ul.additional-mentors-list
        %li
          %p.mentor-name Rob Mossburg - Founder
          %p.mentor-title The Cottage Company of Harbor Springs
        %li
          %p.mentor-name Ron Grant - Founder
          %p.mentor-title Managing Partner Saddle River Group

= render 'footer'
