.team-container
  .team
    %p MEET THE TEAM
    %ul.team-list.clearfix
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Jordan Breighner
          %p.team-member-title Managing Director + Founder
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Molly Ganley
          %p.team-member-title Proram Director
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Roneesh Vashisht
          %p.team-member-title Developer in Residence
      %li
        %img(src="rails.png")
        .team-member-title
          %p.team-member-name Jake Welchert
          %p.team-member-title Designer in Residence

  .fellows
    %p 2013 FELLOWS
    %ul.fellows-list.clearfix
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")
      %li
        %img(src="rails.png")

.advisory-board.clearfix
  .team-column-left
    .advisory-board-heading
      %p Advisory Board
  .team-column-right
    .advisory-board-copy
      %ul.advisor-list
        %li
          %p.advisor-name Rob Mossburg - Founder
          %p.advisor-title The Cottage Company of Harbor Springs
          .biopic
            %img(src="rails.png")
            %p Rob is an entrepreneuer with 30 years experience iwth start up and high growh organizations. His background includes founding, branding, growing and monetizing small to medium size companies in the lodging, real estate, finance and management consulting fields. After the sale of his last company in 2000, his family moved to downtown Harbor Springs where he is living his latest dream through the sustainable work of The Cottage Company, a well-respected real estate, construction and interior design firm.
        %li
          %p.advisor-name Ron Grant - Founder
          %p.advisor-title Managing Partner Saddle River Group
          .biopic
            %img(src="rails.png")
            %p Ron Grant and Russell Stevens are the lead partners at the Saddle River group, a consulting and investment firm with clients ranging from an NYC based venture fund to a major e-commerce provider. Previously Ron served as the president and COO of AOL, focused on repositioning and restructuring the company for acquisition or spin off.

.additional-mentors.clearfix
  .team-column-left
    .additional-mentors-heading
      %p Additional Mentors
  .team-column-right
    .additional-mentors-copy
      %ul.additional-mentors-list
        %li
          %p.mentor-name Rob Mossburg - Founder
          %p.mentor-title The Cottage Company of Harbor Springs
        %li
          %p.mentor-name Ron Grant - Founder
          %p.mentor-title Managing Partner Saddle River Group

= render 'footer'
