@import '../base/variables'
// Top section of home page
.hero
  width: 100%
  height: 795px
  background-image: url('/assets/coolhouse_hero.jpg')
  background-size: cover

.hero-copy-container
  width: 60%
  height: 280px
  float: right
  margin-top: 250px
  background-color: rgba(0,0,0,0.6)

.tagline
  color: white

.hero-copy
  color: white
  padding: 60px
  hr
    width: 50px
    margin-left: 0

// Program Section
.program
  width: 100%
  height: 700px

.program-heading
  padding-left: 50px
  padding-top: 120px

.program-copy
  padding-top: 120px
  padding-right: 70px
  h2
    color: $green

  
// Cohort Section
.cohort
  width: 100%
  height: 880px
  border: 1px solid black
  background: $gray

.cohort-heading
  padding-left: 50px
  padding-top: 120px

.cohort-copy
  padding-top: 120px
  padding-right: 70px
  h2
    color: $teal
// Culture Section
.culture
  width: 100%
  height: 400px
  border: 1px solid black
  background: $green
  color: white

.culture-heading
  padding-left: 50px
  padding-top: 120px

.culture-copy
  padding-top: 120px
  padding-right: 70px

// Image Carousel
.home-image-carousel
  width: 100%
  height: 560px

// Demo Day
.demo-day 
  width: 100%
  height: 460px
  border: 1px solid black
  background: $teal
  color: white

.demo-day-heading
  padding-left: 50px
  padding-top: 120px

.demo-day-copy
  padding-top: 120px
  padding-right: 70px

// location
.location
  width: 100%
  height: 420px

// nav

.nav
  width: 100%
  height: 300px

.nav-left
  width: 50%
  height: 100%
  float: left
  background: $dk-gray

.nav-right
  float: left
  width: 50%
  height: 100%
  background: $darker-gray
  .nav-right-link
    float: left
    height: 49.5%
    width: 49.5%
    text-align: center
    vertical-align: middle
    color: white
    p 
      padding-top: 50px
  .program-link
    border-bottom: 1px solid black
  .blog-link
    border-bottom: 1px solid black
    border-left: 1px solid black
  .connect-link
    border-left: 1px solid black

.home-footer
  width: 100%
  height: 80px
  background: $near-black