
// Top section of home page
.hero
  width: 100%
  height: 795px
  background-image: url('/assets/coolhouse_hero.jpg')
  background-repeat: no-repeat
  background-size: 100% auto

.hero-copy-container
  width: 60%
  height: 280px
  float: right
  margin-top: 250px
  background-color: rgba(0,0,0,0.6)

.hero-copy
  color: white
  padding: 60px
  hr
    width: 50px
    margin-left: 0

// Program Section
.program
  width: 100%
  height: 700px

.program-heading
  padding-left: 50px
  padding-top: 120px

.program-copy
  padding-top: 120px
  
// Cohort Section
.cohort
  width: 100%
  height: 880px
  border: 1px solid black

.cohort-heading
  padding-left: 50px
  padding-top: 120px

.cohort-copy
  padding-top: 120px

// Culture Section
.culture
  width: 100%
  height: 400px
  border: 1px solid black

.culture-heading
  padding-left: 50px
  padding-top: 120px

.culture-copy
  padding-top: 120px

// Image Carousel
.home-image-carousel
  width: 100%
  height: 560px

// Demo Day
.demo-day 
  width: 100%
  height: 460px
  border: 1px solid black

.demo-day-heading
  padding-left: 50px
  padding-top: 120px

.demo-day-copy
  padding-top: 120px

// location
.location
  width: 100%
  height: 420px

// nav

.nav
  width: 100%
  height: 300px

.nav-left
  width: 50%
  height: 100%
  float: left
  background: yellow

.nav-right
  float: left
  width: 50%
  height: 100%
  background: red
  .nav-right-link
    float: left
    height: 49.5%
    width: 49.5%
    text-align: center
    vertical-align: middle
    border: 1px solid black
    p 
      padding-top: 50px
    

.home-footer
  width: 100%
  height: 80px