.team-list
  list-style-type: none
  margin: 0 auto
  li
    float: left
    margin: 10px
  img
    width: 400px

.fellows-list
  list-style-type: none
  li
    float: left
  img
    width: 200px
    margin: 10px

.advisor-list
  list-style-type: none
  
.additional-mentors-list
  list-style-type: none